body {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 1.5px;
}

#header {
  width: 95vw;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgba(92, 92, 92, 0.25);
}
